@import '/fonts/fonts.googleapis.com_css2_family=Indie+Flower&display=swap.css';
@import '/fonts/fonts.googleapis.com_css2_family=Ysabeau+SC_wght@300;400&display=swap.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: "Ysabeau SC", sans-serif;
  transition: 0.7s;
}

body {
  background: #e9e2f4;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.75rem 2rem;
  border-radius: 3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s;
  margin: 1rem 0;
}
.btn i {
  margin-left: 0.4rem;
}

.main-btn {
  border: 0.15rem solid #fcc64b;
  background: #fcc64b;
  color: #e9e2f4;
}
.main-btn:hover {
  border: 0.15rem solid #e9e2f4;
  background: #e9e2f4;
  color: #231f40;
}

.second-btn {
  border: 0.15rem solid #fcc64b;
  background: transparent;
  color: #fcc64b;
}
.second-btn:hover {
  border: 0.15rem solid #e9e2f4;
  background: #e9e2f4;
  color: #231f40;
}

.title {
  color: #231f40;
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

nav {
  position: fixed;
  top: 25vh;
  left: 1rem;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.65rem;
  background: rgba(123, 121, 121, 0.3450980392);
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
  z-index: 100;
}
nav a {
  padding: 0.5rem;
  margin: 0.5rem;
  color: #231f40;
  border-radius: 50%;
  font-size: 1.5rem;
}
nav a:hover {
  background: #6dbac6;
  box-shadow: 0 0 1rem #5a5858;
  color: #fff;
}

.header-socials {
  position: fixed;
  right: 1rem;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  background: rgba(123, 121, 121, 0.3450980392);
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(1.5rem);
          backdrop-filter: blur(1.5rem);
  z-index: 100;
}
.header-socials .line {
  width: 0.15rem;
  height: 5rem;
  background: #e9e2f4;
}
.header-socials a {
  color: #e9e2f4;
  padding: 0.3rem;
  margin-top: 0.3rem;
  font-size: 1.4rem;
}
.header-socials a:hover {
  color: #231f40;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6dbac6;
  height: 80vh;
  padding: 1rem 2rem;
}
.home .text-content {
  width: 100%;
  padding: 1rem 2rem;
}
.home .text-content h1 {
  font-size: 5rem;
  font-family: "Indie Flower", cursive;
  color: #cdefe6;
}
.home .text-content .name {
  font-size: 4rem;
  color: #231f40;
}
.home .text-content .job-title {
  font-size: 1.6rem;
  color: #e9e2f4;
}
.home .hero-img {
  width: 35rem;
}

.about {
  background: #cdefe6;
}
.about .about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .about-container .experince {
  display: flex;
  align-items: center;
}
.about .about-container .experince .box {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #6dbac6;
  border-radius: 2rem;
}
.about .about-container .experince .box .fa-solid {
  font-size: 2.4rem;
  color: #e9e2f4;
}
.about .about-container .experince .box h6 {
  font-size: 1.5rem;
  color: #e9e2f4;
}
.about .about-container .experince .box p {
  font-size: 1.1rem;
  color: #231f40;
}
.about .about-container .info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.about .about-container .info .about-image {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}
.about .about-container .info .text {
  padding: 1rem 3rem;
}
.about .about-container .info .text p {
  color: #888;
  font-size: 1.4rem;
  padding: 0.75rem 0;
}
.about .about-container .info .text .more-info {
  display: none;
}
.about .about-container .info .text .more-info.show {
  display: block;
}

.skills {
  background: #fcc64b;
  padding: 1rem;
}
.skills .skills-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.skills .skills-container .skill {
  padding: 1rem;
  background: #231f40;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e9e2f4;
}
.skills .skills-container .skill h1 {
  font-size: 2.3rem;
  font-family: "Indie Flower", cursive;
}
.skills .skills-container .skill .fa-brands {
  font-size: 4rem;
}
.skills .skills-container .skill .fa-brands.fa-html5 {
  color: #f34f08;
}
.skills .skills-container .skill .fa-brands.fa-css3-alt {
  color: #0888f1;
}
.skills .skills-container .skill .fa-brands.fa-js {
  color: #f2c40b;
}
.skills .skills-container .skill .fa-brands.fa-react {
  color: #0fb9ed;
}
.skills .skills-container .skill .fa-brands.fa-bootstrap {
  color: #980af0;
}
.skills .skills-container .skill .fa-brands.fa-sass {
  color: #f840a8;
}
.skills .skills-container .skill p {
  font-size: 1.6rem;
  color: #cdefe6;
}
.skills .skills-container .skill h5 {
  font-size: 1.7rem;
  font-family: "Indie Flower", cursive;
  letter-spacing: 0.3rem;
}

.services {
  background: #fff;
}
.services .services-container {
  display: flex;
  align-items: center;
}
.services .services-container .text {
  padding: 1rem;
}
.services .services-container .text .fa-paper-plane {
  float: right;
  font-size: 3rem;
  color: #cdefe6;
}
.services .services-container .text h3 {
  font-size: 4rem;
  color: #fcc64b;
  font-family: "Indie Flower", cursive;
}
.services .services-container .text p {
  color: #231f40;
  font-size: 1.5rem;
}
.services .services-container .text .points {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
.services .services-container .text .points i {
  font-size: 3rem;
  margin: 0 1rem;
  color: #cdefe6;
}

.projects {
  background: #231f40;
  padding: 1rem;
}
.projects .title {
  color: #e9e2f4;
}
.projects .projects-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.projects .projects-container .project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 2rem;
}
.projects .projects-container .project-box:hover {
  background: rgba(241, 238, 238, 0.2509803922);
}
.projects .projects-container .project-box:hover img {
  transform: scale(1);
  opacity: 1;
}
.projects .projects-container .project-box img {
  width: 100%;
  height: 17rem;
  border-radius: 2rem;
  opacity: 0.5;
  transform: scale(0.95);
}
.projects .projects-container .project-box h2 {
  font-size: 2.5rem;
  color: #fcc64b;
  font-family: "Indie Flower", cursive;
  margin: 0.5rem 0;
}
.projects .projects-container .project-box p {
  font-size: 1.4rem;
  color: #e9e2f4;
}
.projects .projects-container .project-box span {
  color: #f00;
}

.contact {
  background: #fff;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact .contact-options {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.contact .contact-options .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e9e2f4;
  background: #6dbac6;
  padding: 1rem 2rem;
  border-radius: 2rem;
  width: 23rem;
  margin: 0.5rem;
}
.contact .contact-options .box i {
  font-size: 3rem;
}
.contact .contact-options .box h1 {
  font-family: "Indie Flower", cursive;
}
.contact .contact-options .box a {
  font-size: 1.1rem;
  color: #231f40;
}
.contact .contact-options .box span {
  font-size: 1.45rem;
  color: #fcc64b;
}
.contact .contact-options .box:hover {
  background: #e9e2f4;
  color: #231f40;
}

footer {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
}
footer p {
  font-family: "Indie Flower", cursive;
}

@media (max-width: 991px) {
  nav {
    top: 85vh;
    left: 0.5rem;
    flex-direction: row;
    padding: 0.5rem;
  }
  nav a {
    padding: 0.5rem;
    margin: 0.3rem;
  }
  .header-socials {
    right: 0.5rem;
    padding: 0.2rem;
  }
  .header-socials .line {
    width: 0.1rem;
    height: 2.3rem;
  }
  .header-socials a {
    font-size: 1.2rem;
    margin-top: 0.1rem;
  }
  .home {
    height: 100vh;
    padding: 1rem;
  }
  .home .text-content {
    padding: 1rem;
  }
  .home .text-content h1 {
    font-size: 3.4rem;
  }
  .home .text-content .name {
    font-size: 2rem;
  }
  .home .text-content .job-title {
    font-size: 1rem;
  }
  .home .text-content .btn i {
    font-size: 1.3rem;
  }
  .home .hero-img {
    width: 20rem;
  }
  .about .about-container .experince {
    flex-wrap: wrap;
  }
  .about .about-container .experince .box {
    margin: 0.5rem;
  }
  .about .about-container .experince .box .fa-solid {
    font-size: 2rem;
  }
  .about .about-container .experince .box h6 {
    font-size: 1rem;
  }
  .about .about-container .info {
    flex-direction: column;
    padding: 0.4rem;
  }
  .about .about-container .info .about-image {
    width: 20rem;
    height: 20rem;
  }
  .about .about-container .info .text {
    padding: 1rem;
  }
  .services .services-container {
    flex-direction: column-reverse;
  }
  .services .services-container .text {
    padding: 1rem;
  }
  .services .services-container .text h3 {
    font-size: 2.3rem;
  }
  .services .services-container .text p {
    font-size: 1.1rem;
  }
  .services .services-container img {
    width: 20rem;
  }
  .projects {
    padding: 0.7rem;
  }
  .projects .projects-container .project-box img {
    height: 14rem;
  }
  .projects .projects-container .project-box h2 {
    font-size: 2rem;
  }
  .projects .projects-container .project-box p {
    font-size: 1rem;
  }
  .contact {
    height: 100%;
  }
  .contact .contact-options {
    padding: 0.7rem;
    flex-wrap: wrap;
  }
  .contact .contact-options .box {
    padding: 0.5rem;
    width: 18rem;
    margin: 0.5rem;
  }
}
@media (max-width: 771px) {
  .btn {
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
    top: 3rem;
  }
  .home {
    height: 100vh;
    padding: 1rem;
  }
  .home .text-content {
    width: 100%;
    padding: 0;
  }
  .home .text-content h1 {
    font-size: 3rem;
  }
  .home .text-content .name {
    font-size: 2rem;
  }
  .home .text-content .job-title {
    font-size: 1.2rem;
  }
  .home .text-content .btn i {
    font-size: 1.1rem;
    margin-left: 0.2rem;
  }
  .home .hero-img {
    width: 25rem;
  }
}
@media (max-width: 551px) {
  .btn {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    top: 3rem;
  }
  .home {
    flex-direction: column-reverse;
    height: 120vh;
    padding: 0.5rem;
    background: #6dbac6;
  }
  .home .text-content {
    width: 100%;
    padding: 0;
  }
  .home .text-content h1 {
    font-size: 2.6rem;
  }
  .home .text-content .name {
    font-size: 2.4rem;
  }
  .home .text-content .job-title {
    font-size: 0.9rem;
  }
  .home .hero-img {
    width: 100%;
  }
  .about .about-container .experince .box {
    margin: 0.3rem;
    padding: 0.5rem;
    border-radius: 1rem;
  }
  .about .about-container .experince .box .fa-solid {
    font-size: 1.6rem;
  }
  .about .about-container .experince .box h6 {
    font-size: 1rem;
  }
  .about .about-container .info .about-image {
    width: 15rem;
    height: 15rem;
  }
  .about .about-container .info .text {
    padding: 0.5rem;
  }
  .skills {
    padding: 0.5rem;
  }
  .skills .skills-container .skill {
    padding: 0.7rem;
  }
  .skills .skills-container .skill h1 {
    font-size: 2rem;
  }
  .skills .skills-container .skill .fa-brands {
    font-size: 3rem;
  }
  .skills .skills-container .skill p {
    font-size: 1.1rem;
  }
  .services .services-container img {
    width: 17rem;
  }
  .projects .projects-container {
    grid-template-columns: 100%;
  }
  .contact .contact-options .box {
    padding: 0.5rem 1rem;
    width: 17rem;
  }
  .contact .contact-options .box i {
    font-size: 2rem;
  }
  .contact .contact-options .box a {
    font-size: 1rem;
  }
  .contact .contact-options .box span {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=style.css.map */